<div class="row">
    <div class="col-xs-12">
      <h3>Company's Details</h3>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <img src="{{ company.imagePath }}" alt="{{ company.name }}" class="img-responsive" style="max-height: 200px;">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h3>Name: {{ company.name }}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              The company
            </div>
            <div class="panel-body">
              {{ company.description }}
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              Nb Employees
            </div>
            <div class="panel-body">
              {{ company.nbEmployees }} 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
